{% extends 'base.html' %}
    {% block title %}重置驾考租车网账户密码{% endblock %}
{% block stylesheet %}
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
{% endblock %}
{% block Content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <h3 class="text-center">重置账户密码</h3>
            <form class="form-horizontal" role="form" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.email.label(class='col-sm-3 control-label') }}
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            {{ form.email(class='form-control', placeholder='请输入您的电子邮件', required='') }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div id="embed-captcha"></div>
                        <p id="wait" class="show">正在加载验证码......</p>
                        <p id="notice" class="hide" style="color: red">请先拖动验证码到相应位置</p>
                        <br>
                        <button type="submit" class="btn btn-success" id="embed-submit">发送重置链接到邮箱</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script src="{{ url_for('static', filename='js/geetest_setup.js') }}"></script>
{% endblock %}