{% extends 'base.html' %}{% block meta %}
    {% if page == 1 %}
    <link rel="miphtml" href="{{ url_for('mip.mipcity', word=word, _external=True) }}">
    {% else %}
    <link rel="miphtml" href="{{ url_for('mip.mipcity', word=word, page=page, _external=True) }}">
    {% endif %}{% endblock %}
{% import "_macros.html" as macros %}
{% block title %}{{ word }}驾校排名，{{ word }}驾校哪家好，{{ word }}驾照考试预约，{{ word }}驾校预约学车与在线报名，{{ word }}驾校价格列表-{{ word }}驾校网{% endblock %}
{% block content %}
    {% include "_article_entry.html" %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint, word=word) }}
    </div>
{% endblock %}